/ぐっきゃん/html
/ぐっきゃん/kankore/*.json
/ぐっきゃん/kankore/k2_loc_cam_210217_1130.json
/ぐっきゃん/kankore/k3-loc_cam_2202_goodscampaign.json
/ぐっきゃん/wlwぐっず/w
/新しいフォルダー
/ぐっきゃん/kankore/json
/新しいテキスト ドキュメント.txt
/あけげー設置店舗/other/新しいフォルダー
/*.txt
/ぐっきゃん/uni/新しいフォルダー
/あけげー設置店舗/*.exe
/NonCodeNet
/995downloadfile
/wiki
/source - ショートカット.lnk
/ぐっきゃん/maimai/maivs 半角化
